*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  background-color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 100%;
  font-weight: 400;
  line-height: 2.4rem;
  box-sizing: border-box;
  padding: 0 6rem;
}

.main {
  width: 60rem;
  height: 58rem;
  background-color: #c6c5ec;
  border-radius: 2.5rem;
}

.superwrapper {
  display: flex;
  justify-content: center;
}

/* header */
.flex-parent {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: 9.06rem;
  font-size: 1.6rem;
  color: #7f7be4;
}

.header-left {
  margin-top: 1.6rem;
  margin-left: 4rem;
}

.header-right {
  margin: 0.7rem;
  margin-right: 4rem;
}

.differentcolor {
  color: #9d9adb;
}

hr {
  border: 2px solid #ecebee;
}

/*Main form*/
.wrapper {
  display: flex;
  justify-content: center;
}

.calcform {
  width: 43.75rem;
  height: 45.12rem;
  margin-top: 0.87rem;
  background: linear-gradient(to bottom, #ffffff, #b3b1f1);
  text-align: center;
  border-radius: 2.5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: 8rem;
}

.typewindow {
  border: none;
  border-bottom: 2px solid #9d9adb;
  outline: none;
  padding: 0.5rem;
  background: linear-gradient(to bottom, #f1f1fc, #ebebfb);
  font-size: 2rem;
  font-family: inherit;
}

.result-div {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 3.75rem;
}
#textarea {
  background: linear-gradient(to bottom, #e7e7fa, #e0e0f9);
  border: none;
  outline: none;
  resize: none;
  font-size: 1.5rem;
  text-align: center;
  font-family: inherit;
  font-weight: bold;
}

.btn {
  background-color: #b3b1f1;
  border-radius: 2.5rem;
  width: 20rem;
  height: 4rem;
  margin: 0.4rem;
  font-size: 2rem;
  color: #7f7be4;
  cursor: pointer;
  border: none;
  outline: none;
}
btn2 .btn:hover {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}
.btn:active {
  transform: translateY(-0.06rem);
  box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.25);
}

.advice {
  margin-top: 3.5rem;
  font-size: 2.5rem;
  font-style: italic;
  padding: 0 1rem;
  font-family: "Patrick Hand", cursive;
  color: #7f7be4;
}

.image {
  height: 100vh;
  width: auto;
  position: absolute;
  top: 0;
  margin: 0 auto;
  opacity: 0.3;
}

.imageW {
  display: none;
  justify-content: center;
}

@media (max-width: 900px) {
  .main {
    width: 100vw;
  }
}
