*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 100%;
  font-weight: 400;
  line-height: 2.4rem;
  box-sizing: border-box;
  padding: 0 6rem;
}

.main {
  position: absolute;
  top: 1.2rem;
  width: 60rem;
  height: 58rem;

  border-radius: 2.5rem;

  background: linear-gradient(
    to right bottom,
    rgba(198, 197, 236, 0.8),
    rgba(198, 197, 236, 0.3)
  );
  backdrop-filter: blur(2rem);
  z-index: 3;
}

.superwrapper {
  display: flex;
  justify-content: center;
}

/*Night Mode*/
.toggle-button {
  position: relative;
  left: 95%;
  width: 5rem;
  height: 2.48rem;
  background: #f2f2fb;
  border: 1px solid #c5c0cd;
  border-radius: 1.8rem;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  align-items: left;
  margin-top: 1rem;
  transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}
.toggle-button::after {
  content: "";
  position: absolute;
  background-color: #d6d4f6;
  left: 0.18rem;
  top: 0.093rem;
  width: 2.24rem;
  height: 2.24rem;
  border-radius: 50%;
  transform: translateX(0);
  transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.1);
  z-index: 2;
}
.toggle-button:checked::after {
  transform: translateX(calc(100% + 0.18rem));
  background-color: #f2f2fb;
}

.toggle-button:checked {
  background-color: #988ea6;
}

.night {
  display: inline-block;
  position: relative;
  width: 5rem;
  height: 2.48rem;
  left: 88%;
}
.moon-sun {
  position: absolute;
  width: 2.27rem;
  height: 1.1rem;
  top: 1.7rem;
  left: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  opacity: 0.7;
}
.img1toggle {
  height: 2.1rem;
  width: auto;
}

.sun {
  margin-left: 5px;
}
/*Currency button*/
.toggle-button-currency {
  position: relative;
  left: 95%;
  width: 5rem;
  height: 2.48rem;
  background: #f2f2fb;
  border: 1px solid #c5c0cd;
  border-radius: 1.8rem;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  align-items: left;
  margin-top: 1rem;
  transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}
.toggle-button-currency::after {
  content: "";
  position: absolute;
  background-color: #d6d4f6;
  left: 0.18rem;
  top: 0.093rem;
  width: 2.24rem;
  height: 2.24rem;
  border-radius: 50%;
  transform: translateX(0);
  transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
  z-index: 2;
}
.toggle-button-currency:checked::after {
  transform: translateX(calc(100% + 0.18rem));
  background-color: #f2f2fb;
}

.toggle-button-currency:checked {
  background-color: #f16f3bc2;
}

.money {
  display: inline-block;
  position: relative;
  width: 5rem;
  height: 2.48rem;
  left: 88%;
}
.usd-euro {
  position: absolute;
  width: 2.27rem;
  height: 1.1rem;
  top: 1.7rem;
  left: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  opacity: 0.7;
}

.img2toggle {
  height: 2.1rem;
  width: auto;
}

.euro {
  margin-left: 7px;
}

/* header */
.flex-parent {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: 9.06rem;
  font-size: 1.6rem;
  color: #7f7be4;
}

.header-left {
  margin-top: 1.6rem;
  margin-left: 4rem;
}

.header-right {
  margin: 0.7rem;
  margin-right: 4rem;
}

.differentcolor {
  color: #9d9adb;
}
.differentcolor2 {
  margin-left: 3.5rem;
}

hr {
  border: 0.1rem solid #ecebee;
  position: relative;
  z-index: 3;
}

/*Main form*/
.wrapper {
  display: flex;
  justify-content: center;
}

.calcform {
  position: relative;
  width: 43.75rem;
  height: 45.12rem;
  margin-top: 0.87rem;

  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.4)
  );
  text-align: center;
  border-radius: 2.5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: 8rem;
  z-index: 3;
  backdrop-filter: blur(3rem);
}

.typewindow {
  border: none;
  border-bottom: 2px solid #9d9adb;
  outline: none;
  padding: 0.5rem;
  background-color: #eeecf8;
  opacity: 0.4;
  font-size: 1.5rem;
  font-family: inherit;
}

.result-div {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 3.75rem;
}
#textarea {
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 0.4;
  border: none;
  outline: none;
  resize: none;
  font-size: 1.5rem;
  text-align: center;
  font-family: inherit;
  font-weight: bold;
}

.btn {
  background-color: #b3b1f1;
  border-radius: 2.5rem;
  width: 20rem;
  height: 4rem;
  margin: 0.4rem;
  font-size: 2rem;
  color: #7f7be4;
  cursor: pointer;
  border: none;
  outline: none;
}

.btn:hover {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}
.btn:active {
  transform: translateY(-0.06rem);
  box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.25);
}

.advice {
  margin-top: 3.5rem;
  font-size: 2.5rem;
  font-style: italic;
  padding: 0 1rem;
  font-family: "Patrick Hand", cursive;
  color: #7f7be4;
}

.image {
  height: 100vh;
  width: auto;
  position: absolute;
  top: 0;
  margin: 0 auto;
  opacity: 0.3;
  z-index: 5;
}

.imageW {
  display: none;
  justify-content: center;
}

/* Circles*/
.circle {
  position: absolute;
  border-radius: 50%;
  z-index: 2;
}

.circle1 {
  height: 15.5rem;
  width: 16.5rem;
  top: 3%;
  left: 50%;
  background: linear-gradient(
    to right bottom,
    rgba(101, 86, 121, 0.9),
    rgba(101, 86, 121, 0.1)
  );
  animation: scl 6s;
}

.circle2 {
  height: 30rem;
  width: 30rem;
  top: 44%;
  left: 3%;
  background: linear-gradient(
    to top,
    rgba(127, 123, 228, 0.9),
    rgba(127, 123, 228, 0.1)
  );
  animation: scl 5s;
}

.circle3 {
  height: 25rem;
  width: 25rem;
  top: 58%;
  left: 57%;
  background: linear-gradient(
    to right bottom,
    rgba(163, 110, 163, 0.9),
    rgba(163, 110, 163, 0.1)
  );
  animation: scl 10s;
}

.circle4 {
  height: 16rem;
  width: 16rem;
  top: 20%;
  left: 26%;
  background: linear-gradient(
    to left bottom,
    rgba(163, 110, 163, 0.9),
    rgba(163, 110, 163, 0.1)
  );
  animation: scl 12s;
}

.circle5 {
  height: 4rem;
  width: 4rem;
  top: 15%;
  left: 24%;

  background: linear-gradient(
    to right bottom,
    rgba(163, 110, 163, 0.9),
    rgba(163, 110, 163, 0.1)
  );
  animation: scl 15s;
}

.foot {
  font-size: 0.5rem;
  top: 1vh;
  left: 1vh;
  position: absolute;
  color: #c3c3f5;
}

/*Responsive design*/

@media (max-width: 1000px) {
  .flex-parent {
    font-size: 1.2rem;
  }

  .header-left {
    margin-top: 1rem;
    margin-left: 2rem;
    font-size: 1rem;
  }

  .header-right {
    margin: 0.3rem;
    margin-right: 1rem;
    font-size: 1rem;
  }

  hr {
    border: 0.01rem solid #ecebee;
  }

  .typewindow {
    font-size: 1.2rem;
  }

  .result-div {
    font-size: 1.8rem;
  }

  .btn {
    width: 10.5rem;
    height: 2.5rem;
    font-size: 1rem;
  }

  .advice {
    font-size: 1.5rem;
  }

  .main {
    width: 90vw;
  }

  .header {
    margin-bottom: 1rem;
  }

  .differentcolor2 {
    margin-left: 2.5rem;
  }

  .circle1 {
    height: 7rem;
    width: 7rem;
  }

  .circle2 {
    height: 20rem;
    width: 20rem;
  }

  .circle3 {
    display: none;
  }

  .circle4 {
    height: 4rem;
    width: 4rem;
  }

  .circle5 {
    height: 1rem;
    width: 1rem;
  }
}

/* animation circles*/
@keyframes scl {
  0% {
    opacity: 0;
  }
  50% {
    opacyty: 0.5;
  }
  100% {
    opacity: 1;
  }
}
